<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="/view-data">View</a>
          </li>
      </ul>
    </div>
  </div>